{% extends '_partials/base.html' %}

{% block title %}

Blog: {{blog.title}}
{% endblock %}

{% load static %}

{% block content %}


    
    <h1>Blog Details</h1>

    {% include '_partials/messages.html' %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ blog.title}}</h1>
                        <h2 class="subheading">Subtitle goes here...</h2>
                        <span class="meta">
                            Posted on
                            <!-- <a href="#!">Start Bootstrap</a> -->
                            {{blog.created_at}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>{{blog.body}}</p>
                    <!-- <p>
                        Placeholder text by
                        <a href="http://spaceipsum.com/">Space Ipsum</a>
                        &middot; Images by
                        <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                    </p> -->
                </div>
            </div>
        </div>
    </article>
   
    
    
{% endblock %}